@page
@model Verifinalodev.Pages.Siparis.EditModel
@{
}
<br>
<h2>Siparis Duzenleme</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-danger" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.SipInfo.sipid">
    <div class="row mb-3">
        <label class="colcol-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Sip ID" value="@Model.SipInfo.sipid">
        </div>
    </div>
    <div class="row mb-3">
        <label class="colcol-sm-3 col-form-label">Mus ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.SipInfo.musid">
        </div>
    </div>
    <div class="row mb-3">
        <label class="colcol-sm-3 col-form-label">İcerik</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="@Model.SipInfo.sipicerik">
        </div>
    </div>
    <div class="row mb-3">
        <label class="colcol-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="adres" value="@Model.SipInfo.sipadres">
        </div>
    </div>
    <div class="row mb-3">
        <label class="colcol-sm-3 col-form-label">Tanım</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="adres" value="@Model.SipInfo.siptanim">
        </div>
    </div> 
    <div class="row mb-3">
        <label class="colcol-sm-3 col-form-label">Tarih</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="adres" value="@Model.SipInfo.sipadres">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>